* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  padding: 10px 103px;
  background-color: #c30b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.header-section .logo h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  letter-spacing: 4px;
}
.header-section .logo span {
  color: rgb(81 181 162);
}
.header-section .logo span:hover {
  color: yellow;
}
.header-section .logo h1:hover {
  color: rgb(81 181 162);
}

input {
  padding: 10px 151px;
  outline: 0;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: black;
  font-weight: 700;
}
.logo-img {
  width: 33px;
  margin-right: 11px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* movies section  */
.movies_section {
  margin: 77px 103px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  border: 1px solid rgb(175 245 232);
  padding: 15px;
}
.movies-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.rating {
  color: grey;
  font-size: 22px;
}

.movies-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: rgb(81 181 162);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.movies_section .movies-card h1 {
  padding: 10px 0;
}
.movies_section .movies-card p {
  padding: 5px 0;
}
.movies-card:hover {
  box-shadow: 0 8px 16px 0 rgb(81 181 162);
}
